@charset "utf-8";



.nav01  {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
	margin-top: 34px;
	list-style: none;
}
nav li{
	margin-left: 36px;
}
nav a{
	color: #ffffff;
}
nav a:hover{
	color: #21D1C0;
}

/*縦書きの部分*/
.text {
  float: right
}
.text {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-indent: 1px;
  color:#FFFFFF;
 margin-top: 10%;
  line-height: 2.5;
}

p{font-size: 120%;
 height: 300px;
}

h1 {
  font-size: 30px;
  margin-left: 20px;
}

/*大きな背景画像*/
.big-bg{ background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	}
#top{background-image: url("../image/top.JPG");
	min-height: 150vh;
	background-blend-mode: darken;
}

/*葛飾区ってどんなとこ*/
.about{
	text-align: center;
	margin-top: 20%;
	}
.about h2{
	color: #FFFFFF;
	padding-top: 20%;
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: normal;
}
.about p{
	font-size: 1rem;
	padding:10px;
	color: #FFFFFF;
}


.button{
	font-size: 1.4rem;
	background: #00BBDD;
	color:#fff;
	border-radius: 5px;
	padding:18px 32px;	
}

.botton:hover{
	background: #a6d3c8;
}

